body {
  all: unset;
}

.shadow {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: rgba(1,1,1, 0.3);
}

.modal {
  font-family: sans-serif;
  display: block;
  width: 500px;
  margin: 50px auto 0;
  padding: 20px;
  border-radius: 4px;
  background: white;
  box-shadow: 4px 4px 23px -6px rgba(0,0,0,0.65);
}

.question {
  text-align: center;
}

.option {
  outline: none;
  margin-top: 5px;
  cursor: pointer;
  padding: 7px;
  border: none;
  border-radius: 2px;
  width: 100%;
}

.option:hover {
  opacity: 0.8;
}

.option:active {
  background: steelblue;
}